In [1]:
import pandas as pd
print('Pandas was imported as "pd" seccussfully!')

Pandas was imported as "pd" seccussfully!

## 1. Charger le CSV brut avec Pandas (london_merged.csv):

In [2]:
df = pd.read_csv("london_merged.csv")
print('dataset : \n')
df

dataset :

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

## 2. Observer le dataset :

### 2.1. Nombre de lignes et colonnes

In [3]:
# check for the size of the dataset :
print(f'dataset size :\n')
print(f"dataset's number of raws : {df.shape[0]}")
print(f"dataset's number of columns : {df.shape[1]}")

dataset size :

dataset's number of raws : 17414
dataset's number of columns : 10

### 2.2. Types de variables :

In [4]:
#check for data type of each column 
print('data type of each column :')
df.dtypes

data type of each column :

timestamp        object
cnt               int64
t1              float64
t2              float64
hum             float64
wind_speed      float64
weather_code    float64
is_holiday      float64
is_weekend      float64
season          float64
dtype: object

### 2.3. Vérifier les valeurs manquantes :

In [5]:
#check all rows with atleast one value missing :
df_isnull = df[df.isnull().any(axis = 1)]
print(f"Number of rows with at least one missing value : {df_isnull.shape[0]} rows")
print(f'Numbers of missing values in each column : \n{df_isnull.sum()}')

Number of rows with at least one missing value : 0 rows
Numbers of missing values in each column :
timestamp         0
cnt               0
t1              0.0
t2              0.0
hum             0.0
wind_speed      0.0
weather_code    0.0
is_holiday      0.0
is_weekend      0.0
season          0.0
dtype: object

### 2.4. Vérifier les Doublons:

In [6]:
#check for duplicates
duplicated = df[df.duplicated()]
print(f"Number of duplicated rows: {duplicated.shape[0]}")

Number of duplicated rows: 0

## 3. Renommer les colonnes pour les rendre compréhensibles :

In [7]:
#renaming columns :
dict = {"cnt" : "Nombre de trajets", "t1" : "Température réelle (°C)","t2" : "Température ressentie (°C)", "hum" : "Humidité", "wind_speed" : "Vitesse du vent (km/h)", "weather_code" : "Météo", "season" : "Saison"}
df.rename(columns=dict, inplace=True)
df

,timestamp,Nombre de trajets,Température réelle (°C),Température ressentie (°C),Humidité,Vitesse du vent (km/h),Météo,is_holiday,is_weekend,Saison
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

## 4. Conversion et nettoyage :

### 4.1. conversion l'echelle des variables humidité de pourcentage (%) en décimal (entre 0 et 1) :

In [8]:
#replace humidity values : from % scale to decimal scale :
df['Humidité'] = df['Humidité'] / 100
df

,timestamp,Nombre de trajets,Température réelle (°C),Température ressentie (°C),Humidité,Vitesse du vent (km/h),Météo,is_holiday,is_weekend,Saison
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,0.810,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,0.810,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,0.785,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,0.760,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,0.760,22.0,2.0,0.0,0.0,3.0

In [9]:
#note from ssi omar 
df.describe()

,Nombre de trajets,Température réelle (°C),Température ressentie (°C),Humidité,Vitesse du vent (km/h),Météo,is_holiday,is_weekend,Saison
count,17414.000000,17414.000000,17414.000000,17414.000000,17414.000000,17414.000000,17414.000000,17414.000000,17414.000000
mean,1143.101642,12.468091,11.520836,0.723250,15.913063,2.722752,0.022051,0.285403,1.492075
std,1085.108068,5.571818,6.615145,0.143132,7.894570,2.341163,0.146854,0.451619,1.118911
min,0.000000,-1.500000,-6.000000,0.205000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,257.000000,8.000000,6.000000,0.630000,10.000000,1.000000,0.000000,0.000000,0.000000
50%,844.000000,12.500000,12.500000,0.745000,15.000000,2.000000,0.000000,0.000000,1.000000
75%,1671.750000,16.000000,16.000000,0.830000,20.500000,3.000000,0.000000,1.000000,2.000000
max,7860.000000,34.000000,34.000000,1.000000,56.500000,26.000000,1.000000,1.000000,3.000000

### 4.2. Conversion des codes numériques en valeurs explicites pour les variables "Saison" et "Meteo":

In [10]:
#Map season conditions
dict_saison = {3 : 'Hiver', 2: 'Automne', 0 : 'Printemps', 1: 'Ete'}
df['Saison'] = df['Saison'].replace(dict_saison)
# Map weather conditions
Meteo = {1 : 'Clair', 2 : 'Nuages épars', 3 : 'Nuages fragmentés', 4 : 'Couvert', 7 : 'Pluie', 10 : 'Pluie avec orage', 26 : 'Neige'} 
df['Météo'] = df['Météo'].replace(Meteo)
df

,timestamp,Nombre de trajets,Température réelle (°C),Température ressentie (°C),Humidité,Vitesse du vent (km/h),Météo,is_holiday,is_weekend,Saison
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Nuages fragmentés,0.0,1.0,Hiver
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clair,0.0,1.0,Hiver
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clair,0.0,1.0,Hiver
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clair,0.0,1.0,Hiver
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clair,0.0,1.0,Hiver
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,0.810,19.0,Nuages fragmentés,0.0,0.0,Hiver
17410,2017-01-03 20:00:00,541,5.0,1.0,0.810,21.0,Couvert,0.0,0.0,Hiver
17411,2017-01-03 21:00:00,337,5.5,1.5,0.785,24.0,Couvert,0.0,0.0,Hiver
17412,2017-01-03 22:00:00,224,5.5,1.5,0.760,23.0,Couvert,0.0,0.0,Hiver
17413,2017-01-03 23:00:00,139,5.0,1.0,0.760,22.0,Nuages épars,0.0,0.0,Hiver

## 6. Export du dataset clean (london_bikes_final.xlsx ou .csv)

In [11]:
df.to_excel("london_merged_after_preprocessing_pandas.xlsx", index=False)
print("Dataframe saved to excel file!")

Dataframe saved to excel file!