In [1]:
# libraries
import pandas as pd
import numpy as np

In [2]:
#read the dataset :
df = pd.read_excel("Customer_Call_List_Maroc.xlsx")
print('the dataset :\n')
df

the dataset :

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Mohamed,El Amrani,0612-345-678,"12 Rue Ibn Rochd, Casablanca",Y,N,VRAI
1,1002,Fatima,Boujida,0654/987/321,"93 Avenue Hassan II, Rabat",N,Y,FAUX
2,1003,Youssef,/El Idrissi,NaN,"298 Lotissement Al Falah, Marrakech",N,NaN,VRAI
3,1004,Salma,Benjelloun,0612.543.2345,"980 Rue Al Fassi, Fès, 30000",Y,Y,VRAI
4,1005,Omar,Bensalem_,0654|678|3469,"123 Rue Casablanca, Casablanca",Y,N,VRAI
5,1006,Omar,Bensalem_,0654|678|3469,"123 Rue Casablanca, Casablanca",Y,N,VRAI
6,1007,Jeff,Winger,NaN,"1209 Rue Meknès, Fès",N,N,FAUX
7,1008,Sherlock,Holmes,876|678|3469,"98 Clue Drive, Rabat",N,N,FAUX
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Y,NaN,FAUX
9,1010,Peter,Parker,123-545-5421,"25th Main Street, Casablanca",Y,N,VRAI
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Casablanca",Y,N,VRAI
11,1012,Harry,...Potter,7066950392,"2394 Hogwarts Avenue, Rabat",Y,NaN,VRAI
12,1013,Don,Draper,123-543-2345,"2039 Main Street, Casablanca",Y,N,FAUX
13,1014,Leslie,Knope,876|678|3469,"343 City Parkway, Casablanca",Y,N,FAUX
14,1015,Toby,Flenderson_,304-762-2467,"214 HR Avenue, Casablanca",N,N,FAUX
15,1016,Ron,Weasley,123-545-5421,"2395 Hogwarts Avenue, Rabat",N,N,FAUX
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Fès",Y,N,FAUX
17,1018,Clark,Kent,7066950392,"3498 Super Lane, Casablanca",Y,NaN,VRAI
18,1019,Creed,Braton,NaN,N/a,Y,N,VRAI
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Rabat",Y,N,VRAI
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Rabat",Y,N,VRAI

In [3]:
#indicating the dataset size before cleaning :
print('the dataset before cleaning :')
print(f"the dataset's number of raws is : {df.shape[0]}")
print(f"the dataset's number of columns is : {df.shape[1]}")

the dataset before cleaning :
the dataset's number of raws is : 21
the dataset's number of columns is : 8

In [4]:
#dataset showcasing duplicates
df[df.duplicated(subset=['First_Name', 'Last_Name', 'Phone_Number'])]

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
5,1006,Omar,Bensalem_,0654|678|3469,"123 Rue Casablanca, Casablanca",Y,N,VRAI
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Rabat",Y,N,VRAI

In [5]:
#droping duplicates :
df.drop_duplicates(subset=['First_Name', 'Last_Name', 'Phone_Number'], inplace = True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Mohamed,El Amrani,0612-345-678,"12 Rue Ibn Rochd, Casablanca",Y,N,VRAI
1,1002,Fatima,Boujida,0654/987/321,"93 Avenue Hassan II, Rabat",N,Y,FAUX
2,1003,Youssef,/El Idrissi,NaN,"298 Lotissement Al Falah, Marrakech",N,NaN,VRAI
3,1004,Salma,Benjelloun,0612.543.2345,"980 Rue Al Fassi, Fès, 30000",Y,Y,VRAI
4,1005,Omar,Bensalem_,0654|678|3469,"123 Rue Casablanca, Casablanca",Y,N,VRAI
6,1007,Jeff,Winger,NaN,"1209 Rue Meknès, Fès",N,N,FAUX
7,1008,Sherlock,Holmes,876|678|3469,"98 Clue Drive, Rabat",N,N,FAUX
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Y,NaN,FAUX
9,1010,Peter,Parker,123-545-5421,"25th Main Street, Casablanca",Y,N,VRAI
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Casablanca",Y,N,VRAI
11,1012,Harry,...Potter,7066950392,"2394 Hogwarts Avenue, Rabat",Y,NaN,VRAI
12,1013,Don,Draper,123-543-2345,"2039 Main Street, Casablanca",Y,N,FAUX
13,1014,Leslie,Knope,876|678|3469,"343 City Parkway, Casablanca",Y,N,FAUX
14,1015,Toby,Flenderson_,304-762-2467,"214 HR Avenue, Casablanca",N,N,FAUX
15,1016,Ron,Weasley,123-545-5421,"2395 Hogwarts Avenue, Rabat",N,N,FAUX
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Fès",Y,N,FAUX
17,1018,Clark,Kent,7066950392,"3498 Super Lane, Casablanca",Y,NaN,VRAI
18,1019,Creed,Braton,NaN,N/a,Y,N,VRAI
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Rabat",Y,N,VRAI

In [6]:
#indicating the dataset size after cleaning :
print('the dataset after cleaning :')
print(f"the dataset's number of raws is : {df.shape[0]}")
print(f"the dataset's number of columns is : {df.shape[1]}")

the dataset after cleaning :
the dataset's number of raws is : 19
the dataset's number of columns is : 8

In [7]:
#indentification and remove of unusefull columns :
#indentifcation methodologie followed :
#-- if the first and last name are not exists\
#-- if phone number or adress not exist or not valid, since our mine contact bridge with the csutomer is phone number or its location atlest

# 1. Drop if both names are missing
df = df.dropna(subset=['First_Name', 'Last_Name'], how='all')

# 2. keep only names greater than 4 characters
df = df[ (df['First_Name'].str.len() >= 3) & (df['Last_Name'].str.len() >= 3) ]

# 3. Drop if Phone or Address is missing
df = df.dropna(subset=['Phone_Number', 'Address'], how='any')


print("Cleaning complete. Data remaining:")
df

Cleaning complete. Data remaining:

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Mohamed,El Amrani,0612-345-678,"12 Rue Ibn Rochd, Casablanca",Y,N,VRAI
1,1002,Fatima,Boujida,0654/987/321,"93 Avenue Hassan II, Rabat",N,Y,FAUX
3,1004,Salma,Benjelloun,0612.543.2345,"980 Rue Al Fassi, Fès, 30000",Y,Y,VRAI
4,1005,Omar,Bensalem_,0654|678|3469,"123 Rue Casablanca, Casablanca",Y,N,VRAI
7,1008,Sherlock,Holmes,876|678|3469,"98 Clue Drive, Rabat",N,N,FAUX
9,1010,Peter,Parker,123-545-5421,"25th Main Street, Casablanca",Y,N,VRAI
11,1012,Harry,...Potter,7066950392,"2394 Hogwarts Avenue, Rabat",Y,NaN,VRAI
12,1013,Don,Draper,123-543-2345,"2039 Main Street, Casablanca",Y,N,FAUX
13,1014,Leslie,Knope,876|678|3469,"343 City Parkway, Casablanca",Y,N,FAUX
14,1015,Toby,Flenderson_,304-762-2467,"214 HR Avenue, Casablanca",N,N,FAUX
15,1016,Ron,Weasley,123-545-5421,"2395 Hogwarts Avenue, Rabat",N,N,FAUX
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Fès",Y,N,FAUX
17,1018,Clark,Kent,7066950392,"3498 Super Lane, Casablanca",Y,NaN,VRAI
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Rabat",Y,N,VRAI

In [8]:
#indicating the dataset size after more cleaning :
print('the dataset after second cleaning :')
print(f"the dataset's number of raws is : {df.shape[0]}")
print(f"the dataset's number of columns is : {df.shape[1]}")

the dataset after second cleaning :
the dataset's number of raws is : 14
the dataset's number of columns is : 8

In [9]:
# drop the Not_Useful_Column :
df = df.drop(columns=["Not_Useful_Column"])
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Mohamed,El Amrani,0612-345-678,"12 Rue Ibn Rochd, Casablanca",Y,N
1,1002,Fatima,Boujida,0654/987/321,"93 Avenue Hassan II, Rabat",N,Y
3,1004,Salma,Benjelloun,0612.543.2345,"980 Rue Al Fassi, Fès, 30000",Y,Y
4,1005,Omar,Bensalem_,0654|678|3469,"123 Rue Casablanca, Casablanca",Y,N
7,1008,Sherlock,Holmes,876|678|3469,"98 Clue Drive, Rabat",N,N
9,1010,Peter,Parker,123-545-5421,"25th Main Street, Casablanca",Y,N
11,1012,Harry,...Potter,7066950392,"2394 Hogwarts Avenue, Rabat",Y,NaN
12,1013,Don,Draper,123-543-2345,"2039 Main Street, Casablanca",Y,N
13,1014,Leslie,Knope,876|678|3469,"343 City Parkway, Casablanca",Y,N
14,1015,Toby,Flenderson_,304-762-2467,"214 HR Avenue, Casablanca",N,N
15,1016,Ron,Weasley,123-545-5421,"2395 Hogwarts Avenue, Rabat",N,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Fès",Y,N
17,1018,Clark,Kent,7066950392,"3498 Super Lane, Casablanca",Y,NaN
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Rabat",Y,N

In [10]:
#data cleaning from non wanted charachters in each column :
#data cleaning for the First_Name column :
df["First_Name"]= df["First_Name"].str.replace(r'[^A-Za-z ]', '', regex=True)

#data cleaning for the Last_Name column :
df["Last_Name"]= df["Last_Name"].str.replace(r'[^A-Za-z ]', '', regex=True)

#data cleaning for the Phone_Number column :
df["Phone_Number"]= df["Phone_Number"].str.replace(r'[^\d]', '', regex=True)

In [11]:
print('dataset after cleaning from non wanted charachters :')
df

dataset after cleaning from non wanted charachters :

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Mohamed,El Amrani,0612345678,"12 Rue Ibn Rochd, Casablanca",Y,N
1,1002,Fatima,Boujida,0654987321,"93 Avenue Hassan II, Rabat",N,Y
3,1004,Salma,Benjelloun,06125432345,"980 Rue Al Fassi, Fès, 30000",Y,Y
4,1005,Omar,Bensalem,06546783469,"123 Rue Casablanca, Casablanca",Y,N
7,1008,Sherlock,Holmes,8766783469,"98 Clue Drive, Rabat",N,N
9,1010,Peter,Parker,1235455421,"25th Main Street, Casablanca",Y,N
11,1012,Harry,Potter,7066950392,"2394 Hogwarts Avenue, Rabat",Y,NaN
12,1013,Don,Draper,1235432345,"2039 Main Street, Casablanca",Y,N
13,1014,Leslie,Knope,8766783469,"343 City Parkway, Casablanca",Y,N
14,1015,Toby,Flenderson,3047622467,"214 HR Avenue, Casablanca",N,N
15,1016,Ron,Weasley,1235455421,"2395 Hogwarts Avenue, Rabat",N,N
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Fès",Y,N
17,1018,Clark,Kent,7066950392,"3498 Super Lane, Casablanca",Y,NaN
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Rabat",Y,N

In [12]:
#formaing Phone Number into 3-3-4 format 
df['Phone_Number'] = df['Phone_Number'].str[:3]+'-'+df['Phone_Number'].str[3:6]+'-'+df['Phone_Number'].str[6:]

print("dataset after formatting phone number :")
df

dataset after formatting phone number :

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Mohamed,El Amrani,061-234-5678,"12 Rue Ibn Rochd, Casablanca",Y,N
1,1002,Fatima,Boujida,065-498-7321,"93 Avenue Hassan II, Rabat",N,Y
3,1004,Salma,Benjelloun,061-254-32345,"980 Rue Al Fassi, Fès, 30000",Y,Y
4,1005,Omar,Bensalem,065-467-83469,"123 Rue Casablanca, Casablanca",Y,N
7,1008,Sherlock,Holmes,876-678-3469,"98 Clue Drive, Rabat",N,N
9,1010,Peter,Parker,123-545-5421,"25th Main Street, Casablanca",Y,N
11,1012,Harry,Potter,706-695-0392,"2394 Hogwarts Avenue, Rabat",Y,NaN
12,1013,Don,Draper,123-543-2345,"2039 Main Street, Casablanca",Y,N
13,1014,Leslie,Knope,876-678-3469,"343 City Parkway, Casablanca",Y,N
14,1015,Toby,Flenderson,304-762-2467,"214 HR Avenue, Casablanca",N,N
15,1016,Ron,Weasley,123-545-5421,"2395 Hogwarts Avenue, Rabat",N,N
16,1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Fès",Y,N
17,1018,Clark,Kent,706-695-0392,"3498 Super Lane, Casablanca",Y,NaN
19,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Rabat",Y,N

In [13]:
#split the address column into 3 new columns: street address, state, zip code
df['Street_Address'] = df['Address'].str.split(',').str[0]
df['State'] = df['Address'].str.split(',').str[1]
df['Zip_Code'] = df['Address'].str.split(',').str[2]

print("dataset after Address column split :")
df

dataset after Address column split :

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_Address,State,Zip_Code
0,1001,Mohamed,El Amrani,061-234-5678,"12 Rue Ibn Rochd, Casablanca",Y,N,12 Rue Ibn Rochd,Casablanca,NaN
1,1002,Fatima,Boujida,065-498-7321,"93 Avenue Hassan II, Rabat",N,Y,93 Avenue Hassan II,Rabat,NaN
3,1004,Salma,Benjelloun,061-254-32345,"980 Rue Al Fassi, Fès, 30000",Y,Y,980 Rue Al Fassi,Fès,30000
4,1005,Omar,Bensalem,065-467-83469,"123 Rue Casablanca, Casablanca",Y,N,123 Rue Casablanca,Casablanca,NaN
7,1008,Sherlock,Holmes,876-678-3469,"98 Clue Drive, Rabat",N,N,98 Clue Drive,Rabat,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, Casablanca",Y,N,25th Main Street,Casablanca,NaN
11,1012,Harry,Potter,706-695-0392,"2394 Hogwarts Avenue, Rabat",Y,NaN,2394 Hogwarts Avenue,Rabat,NaN
12,1013,Don,Draper,123-543-2345,"2039 Main Street, Casablanca",Y,N,2039 Main Street,Casablanca,NaN
13,1014,Leslie,Knope,876-678-3469,"343 City Parkway, Casablanca",Y,N,343 City Parkway,Casablanca,NaN
14,1015,Toby,Flenderson,304-762-2467,"214 HR Avenue, Casablanca",N,N,214 HR Avenue,Casablanca,NaN
15,1016,Ron,Weasley,123-545-5421,"2395 Hogwarts Avenue, Rabat",N,N,2395 Hogwarts Avenue,Rabat,NaN
16,1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Fès",Y,N,121 Paper Avenue,Fès,NaN
17,1018,Clark,Kent,706-695-0392,"3498 Super Lane, Casablanca",Y,NaN,3498 Super Lane,Casablanca,NaN
19,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Rabat",Y,N,910 Tatooine Road,Rabat,NaN

In [14]:
# drop the Address column
df.drop('Address', axis=1, inplace=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Street_Address,State,Zip_Code
0,1001,Mohamed,El Amrani,061-234-5678,Y,N,12 Rue Ibn Rochd,Casablanca,NaN
1,1002,Fatima,Boujida,065-498-7321,N,Y,93 Avenue Hassan II,Rabat,NaN
3,1004,Salma,Benjelloun,061-254-32345,Y,Y,980 Rue Al Fassi,Fès,30000
4,1005,Omar,Bensalem,065-467-83469,Y,N,123 Rue Casablanca,Casablanca,NaN
7,1008,Sherlock,Holmes,876-678-3469,N,N,98 Clue Drive,Rabat,NaN
9,1010,Peter,Parker,123-545-5421,Y,N,25th Main Street,Casablanca,NaN
11,1012,Harry,Potter,706-695-0392,Y,NaN,2394 Hogwarts Avenue,Rabat,NaN
12,1013,Don,Draper,123-543-2345,Y,N,2039 Main Street,Casablanca,NaN
13,1014,Leslie,Knope,876-678-3469,Y,N,343 City Parkway,Casablanca,NaN
14,1015,Toby,Flenderson,304-762-2467,N,N,214 HR Avenue,Casablanca,NaN
15,1016,Ron,Weasley,123-545-5421,N,N,2395 Hogwarts Avenue,Rabat,NaN
16,1017,Michael,Scott,123-643-9775,Y,N,121 Paper Avenue,Fès,NaN
17,1018,Clark,Kent,706-695-0392,Y,NaN,3498 Super Lane,Casablanca,NaN
19,1020,Anakin,Skywalker,876-678-3469,Y,N,910 Tatooine Road,Rabat,NaN

In [15]:
#identifying states for zipcode alignement :
State = df.drop_duplicates(subset="State")
State["State"]

0     Casablanca
1          Rabat
3            Fès
Name: State, dtype: object

In [17]:
#zip code assignement
zip_codes = {'casablanca' : 20000, 'rabat': 10000, 'fez' : 30000, 'fes' : 30000, 'fès' : 30000}
df["State"] = df["State"].str.lower().str.strip()
df["Zip_Code"] = df["State"].map(zip_codes)

print('dataset after zip code assignement : \n')
df

dataset after zip code assignement :

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Street_Address,State,Zip_Code
0,1001,Mohamed,El Amrani,061-234-5678,Y,N,12 Rue Ibn Rochd,casablanca,20000
1,1002,Fatima,Boujida,065-498-7321,N,Y,93 Avenue Hassan II,rabat,10000
3,1004,Salma,Benjelloun,061-254-32345,Y,Y,980 Rue Al Fassi,fès,30000
4,1005,Omar,Bensalem,065-467-83469,Y,N,123 Rue Casablanca,casablanca,20000
7,1008,Sherlock,Holmes,876-678-3469,N,N,98 Clue Drive,rabat,10000
9,1010,Peter,Parker,123-545-5421,Y,N,25th Main Street,casablanca,20000
11,1012,Harry,Potter,706-695-0392,Y,NaN,2394 Hogwarts Avenue,rabat,10000
12,1013,Don,Draper,123-543-2345,Y,N,2039 Main Street,casablanca,20000
13,1014,Leslie,Knope,876-678-3469,Y,N,343 City Parkway,casablanca,20000
14,1015,Toby,Flenderson,304-762-2467,N,N,214 HR Avenue,casablanca,20000
15,1016,Ron,Weasley,123-545-5421,N,N,2395 Hogwarts Avenue,rabat,10000
16,1017,Michael,Scott,123-643-9775,Y,N,121 Paper Avenue,fès,30000
17,1018,Clark,Kent,706-695-0392,Y,NaN,3498 Super Lane,casablanca,20000
19,1020,Anakin,Skywalker,876-678-3469,Y,N,910 Tatooine Road,rabat,10000

In [18]:
df["Do_Not_Contact"] = df["Do_Not_Contact"].str.replace("Y", " Do not contact").str.replace("N", "Contact authorized")

print("dataset :\n")
df

dataset :

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Street_Address,State,Zip_Code
0,1001,Mohamed,El Amrani,061-234-5678,Y,Contact authorized,12 Rue Ibn Rochd,casablanca,20000
1,1002,Fatima,Boujida,065-498-7321,N,Do not contact,93 Avenue Hassan II,rabat,10000
3,1004,Salma,Benjelloun,061-254-32345,Y,Do not contact,980 Rue Al Fassi,fès,30000
4,1005,Omar,Bensalem,065-467-83469,Y,Contact authorized,123 Rue Casablanca,casablanca,20000
7,1008,Sherlock,Holmes,876-678-3469,N,Contact authorized,98 Clue Drive,rabat,10000
9,1010,Peter,Parker,123-545-5421,Y,Contact authorized,25th Main Street,casablanca,20000
11,1012,Harry,Potter,706-695-0392,Y,NaN,2394 Hogwarts Avenue,rabat,10000
12,1013,Don,Draper,123-543-2345,Y,Contact authorized,2039 Main Street,casablanca,20000
13,1014,Leslie,Knope,876-678-3469,Y,Contact authorized,343 City Parkway,casablanca,20000
14,1015,Toby,Flenderson,304-762-2467,N,Contact authorized,214 HR Avenue,casablanca,20000
15,1016,Ron,Weasley,123-545-5421,N,Contact authorized,2395 Hogwarts Avenue,rabat,10000
16,1017,Michael,Scott,123-643-9775,Y,Contact authorized,121 Paper Avenue,fès,30000
17,1018,Clark,Kent,706-695-0392,Y,NaN,3498 Super Lane,casablanca,20000
19,1020,Anakin,Skywalker,876-678-3469,Y,Contact authorized,910 Tatooine Road,rabat,10000